*
{
    font-family: sans-serif;
}

body
{
    background: #000;
}

.testArea
{
}

.testfixture
{
}

    .testfixture .description
    {
        color: #ddd;
    }

.test
{
    color: #aaa;
}

    .test.fail .name
    {
        color: #f00;
    }

    .test.fail .info
    {
        color: #aaa;
    }

    .test.pass .name
    {
        color: #0c0;
    }